<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多用户留言板管理系统</title>
</head>
<body>
    <form method="POST" action='/'>
        {{info}}
        {{ form.csrf_token }}
        {{"用户名"}}
        {{form.username}}
        {{"密码"}}
        {{form.password}}
        {{form.submit}}
<!--        <label>用户名:<input type="text" name="username" value=""></label>-->
<!--        <label>密码:<input type="password" name="password" value=""></label>-->
<!--        <input type="submit" name="login" value="登录">-->
    </form>
    <form methods="get" action='/register'>
        <input type="submit" name="register" value="注册">
    </form>
</body>
</html>